.footer {
  background-color: black;
  padding: 30px;
  width: auto;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
}

.footer-icons > .MuiSvgIcon-root {
  padding-top: 15px;
  padding-right: 10px;
  font-size: 20px;
  color: white;
  transition: all linear 0.25s;
  cursor: pointer;
}

.footer-icon-link > .MuiSvgIcon-root {
  text-decoration: none;
  padding-top: 15px;
  padding-right: 10px;
  font-size: 20px;
  color: white;
  transition: all linear 0.25s;
  cursor: pointer;
}

.footer-icon-link > .MuiSvgIcon-root:hover {
  color: #d3ae36;
}

.footer-icons > .MuiSvgIcon-root:hover {
  color: #d3ae36;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 130px;
}

.footer-middle > img {
  object-fit: contain;
  height: 200px;
}

.footer-bot {
  padding-top: 35px;
}
.footer-bot > p {
  padding-top: 20px;
  text-align: center;
  color: white;
}
.footer-bot > hr {
  width: 100%;
}

.footer-text {
  text-decoration: none;
}

.footer-text > h3 {
  color: white;
  padding-top: 15px;
  text-transform: uppercase;
  transition: all linear 0.25s;
}

.footer-text > h3:hover {
  color: #d3ae36;
}
