.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.15), rgba(4, 9, 30, 0.15)),
    url(img/mencory3.jpg);
  background-position: top;
  background-size: cover;
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 1030;
  margin: 0 auto;
}

.nav__links a img {
  width: 160px;
  height: 135px;
  padding-left: 40px;
  transition: all linear 0.25s;
}

.nav__links {
  margin-top: -15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-right a {
  padding-right: 20px;
}

.nav__links a {
  font-weight: 650;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  transition: all linear 0.25s;
}
.nav__links a:hover {
  color: #d3ae36;
}

.nav-right a p {
  color: black;
}

.nav-bg {
  background-color: rgb(0, 0, 0, 0.5);
  transition: background-color 0.25s;
}

.nav__links > .MuiSvgIcon-root {
  color: white;
  font-size: 25px;
  align-items: center;
  padding: 10px;
  padding-right: 35px;
  cursor: pointer;
  display: none;
}
.nav-button {
  align-items: center;
  background-color: #d3ae36;
  border: 2px solid #d3ae36;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 15px;
  font-weight: 650;
  height: 48px;
  justify-content: center;
  line-height: 12x;
  letter-spacing: 0.5px;
  min-width: 140px;
  padding: 0 17px;
  text-align: center;
  transition: all 0.3s;
  touch-action: manipulation;
}

.nav-button:hover {
  background-color: #a67b00;
  border-color: #a67b00;
}

.nav-button:active {
  background-color: #a67b00;
  border-color: #a67b00;
}
@media (max-width: 1000px) {
  .nav__links {
    background-color: rgb(0, 0, 0, 0.5);
  }
  .nav__links > .MuiSvgIcon-root {
    display: flex;
  }
  .nav-right {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 114px;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 2;
    text-align: right;
    display: none;
  }

  .nav-right.expanded {
    display: block;
  }
  .nav-right.expanded a {
    display: block;
    padding-top: 15px;
  }
}

.info-box {
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-top: 10px;
  padding: 65px;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.icon-text > h3 {
  font-size: 20px;
  padding-top: 10px;
  color: #d3ae36;
  text-align: center;
}

.icon-text-book {
  text-decoration: none;
}
.icon-text-book > h3 {
  transition: all linear 0.25s;
  color: #d3ae36;
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
}
.icon-text-book > h3:hover {
  color: #a67b00;
}
.icon-text > .MuiSvgIcon-root {
  font-size: 30px;
  color: white;
}

@media (max-width: 768px) {
  .info-box {
    display: block;
    padding: 10px;
  }

  .icon-text {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
