.header {
  min-height: 125vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.15), rgba(4, 9, 30, 0.15)),
    url(img/meNcory3.jpg);
  background-position: top;
  background-size: cover;
}

nav {
  width: 100%;
  left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  z-index: 1030;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

nav img {
  width: 150px;
  height: 125px;
  vertical-align: middle;
}

.nav__links {
  flex: 1;
}

.nav__links ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.nav__links ul li a {
  font-weight: 650;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}

.nav__links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e57254;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav__links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0 15px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #e57254;
  padding: 12px 34px;
  font-size: 15px;
  font-weight: 550;
  /*background: transparent;*/
  background-color: #e57254;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #e57254;
  background: #e57254;
  color: #232323;
  transition: 0.75s;
}

.red-hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #e57254;
  padding: 12px 34px;
  font-size: 15px;
  font-weight: 500;
  background: #e57254;
  position: relative;
  cursor: pointer;
}

.red-hero-btn:hover {
  border: 1px solid #e57254;
  background: #fff;
  transition: 1s;
  color: #e57254;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #e57254;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

.gallery {
  background-color: #e0e0e0;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-bottom: 10px;
}

#feature {
  width: 100%;
  padding: 70px 0;
}

.title-text {
  text-align: center;
  padding-bottom: 50px;
}

.title-text p {
  margin: auto;
  font-size: 20px;
  color: #e57254;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#e57254, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.title-text h1 {
  font-size: 50px;
}

/* info-box */

.info-box {
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-top: 10px;
  padding: 65px;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.icon-text > h3 {
  font-size: 20px;
  padding-top: 10px;
  color: #d3ae36;
}

.icon-text > .MuiSvgIcon-root {
  font-size: 30px;
  color: white;
}

/* hero-home
   ================== */
.about {
  width: 100%;
  max-width: 70em;
  margin: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-about-textbox {
  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid black;
  color: black;
  position: relative;
  background-color: white;
}

.home-about-textbox h1 {
  background-color: white;
  color: #87241a;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.75em;
  padding: 0 0.145em;
}

.home-about-textbox-2 {
  padding: 4em;
  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid black;
  color: black;
  position: relative;
  background-color: white;
}

.home-about-textbox-2 h1 {
  background-color: white;
  color: #87241a;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.75em;
  padding: 0 0.145em;
}

@media (min-width: 25rem) {
  h1 {
    font-size: 2rem;
  }

  .home-about-textbox {
    padding: 5.5em;
  }

  .home-about-textbox h1 {
    top: 0.6em;
    padding: 0 0.325em;
  }

  .home-about-textbox-2 {
    padding: 5.5em;
  }

  .home-about-textbox-2 h1 {
    top: 0.6em;
    padding: 0 0.325em;
  }
}

@media (min-width: 60rem) {
  h1 {
    font-size: 2.5rem;
  }

  .home-about {
    background-image: url(img/meabout.jpg);
    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
    background-size: contain;
    height: 380px;
    padding-bottom: 10em;
  }

  .home-about-textbox {
    width: 32.5%;
    padding: 7em;
    outline-offset: -3.75em;
    margin-left: -2.5%;
    top: 2em;
    text-align: left;
  }

  .home-about-textbox h1 {
    top: 0.75em;
    left: 6rem;
    transform: translateX(0);
  }

  .home-about-2 {
    background-image: url(img/mirror.jpg);
    background-repeat: no-repeat;
    background-position: right 91% bottom 45%;
    background-size: contain;
    margin-left: -2.5%;
    height: 395px;
    padding-bottom: 10em;
  }

  .home-about-textbox-2 {
    width: 32.5%;
    padding: 7em;
    outline-offset: -3.75em;
    margin-left: -12, 2%;
    top: 2.5em;
    right: -40em;
    text-align: right;
  }

  .home-about-textbox-2 h1 {
    top: 0.75em;
    left: 18rem;
    transform: translateX(0);
  }
}

/*--------- footer -------*/

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  color: #e57254;
  margin: 0 13px;
  cursor: pointer;
  /* padding: 18px 0; */
}

.gallery-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-58 {
  align-items: center;
  background-color: #d3ae36;
  border: 2px solid #d3ae36;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  line-height: 13.2px;
  letter-spacing: 2.04px;
  margin-top: -20px;
  min-width: 140px;
  padding: 0 17px;
  text-align: center;
  transition: all 0.3s;

  touch-action: manipulation;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #a67b00;
  border-color: #a67b00;
}

.button-58:active {
  background-color: #a67b00;
  border-color: #a67b00;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}
